body{
    background-color: #fbefdb;
    
}
nav{
    background-color: #1F5B25;
    padding:15px;
    position:fixed;
}
nav a{
    color:white;
    margin:15px;
}
nav a:hover{
    color: white;
    text-decoration: none;
}
nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 40px;
}
.banner{
    background-image:url("../img/banner.jpg");
    background-position: center center;
    background-size:cover;

    height: 400px;
}
.kave:hover, .suti:hover{
    box-shadow:0px 0px 5px #1F5B25;
}
.kave h2, .suti h2{
    font-size:1rem;
    text-align:center;
    margin-top:1rem;
    margin-bottom:1rem;
    font-variant:small-caps;
}
.kave,.suti{
    color:#1F5B25;
    background-color: #fff;
    border: 1px solid #1F5B25;
    border-radius: 4px;
    margin-bottom: 1rem;
}
h1{
    text-align: center;
    color: #1F5B25;
}